$navbar-default-bg: #7b915a;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('coffee_people.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  text-align: center;
  color: #7b915a;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

.btn-xlarge {
  font-size: 1.7em;
}